/data/config.ini
/cache/
/vendor/
/nbproject/
*.sublime-project
*.sublime-workspace
*.DS_Store
/tests/report/
/tests/_output/*
.idea/
/logs/
composer.phar
composer.lock

# Google App Engine generated folder
appengine-generated/